body *{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(10 1fr);
    grid-template-areas: 'header . nav'
    '. about .'
    'shoe shoe shoe'
    'shoe shoe shoe'
    'shoe shoe shoe'
    'shoe shoe shoe'
    'shoe shoe shoe'
    'shoe shoe shoe'
    '. about .'
    'footer footer footer';
}

header {
    grid-area: header;
}

nav{
    grid-area: nav;
}

.about {
    grid-area: artice;
}

.shoes-box {
    grid-area: shoe;
}

footer {
    grid-area: footer;
}